package ${params.actionPack};

import javax.annotation.Resource;
import org.springframework.stereotype.Controller;
import ${params.servicePack}.${params.modelClass}Service;

/**
 * @author xiaojf 294825811@qq.com
 */
@Controller
public class ${params.modelClass}Controller {
    @Resource(name="${params.modelField}Service")
    private ${params.modelClass}Service ${params.modelField}Service;
    
}