package ${params.daoImplPack};

import org.hibernate.Session;
import org.springframework.stereotype.Repository;

import com.mousika.common.dao.impl.BaseDaoImpl;
import ${params.daoPack}.${params.modelClass}Dao;
import ${params.modelPack}.${params.modelClass};
/**
 * <${params.modelRemarks}的数据访问接口实现类
 * @author xiaojf 294825811@qq.com
 */
@Repository(value="${params.modelField}Dao")
public class ${params.modelClass}DaoImpl extends BaseDaoImpl<${params.modelClass}> implements ${params.modelClass}Dao {

}
