package ${params.packageName};

import java.util.List;

import ${params.modelPack}.${params.modelName};

/**
 * ${params.modelRemarks}的业务接口
 * @author xiaojf 294825811@qq.com
 */
public interface ${params.modelName}Service {

}
