<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>code tool</display-name>
  
  <servlet>
    <servlet-name>ConfigController</servlet-name>
    <servlet-class>com.mousika.code.controller.ConfigController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfigController</servlet-name>
    <url-pattern>/ConfigController</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>TableListController</servlet-name>
    <servlet-class>com.mousika.code.controller.TableListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TableListController</servlet-name>
    <url-pattern>/TableListController</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ColumnListController</servlet-name>
    <servlet-class>com.mousika.code.controller.ColumnListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ColumnListController</servlet-name>
    <url-pattern>/ColumnListController</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>GeneratorController</servlet-name>
    <servlet-class>com.mousika.code.controller.GeneratorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GeneratorController</servlet-name>
    <url-pattern>/GeneratorController</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>